html{
    font-family: 'Varela Round', sans-serif;
    background: #f8f8f3;
}

.container{
    padding:0;
    margin:0;
    width:100%;
    overflow:hidden;
}

.container #header{
    width:auto;
    height:600px;
    background: url(../images/header.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overlay{
    background: rgba(23,52,63,0.75);
    overflow: hidden;
    height: 100%;
    z-index: 2;   
}


.row{
    background: rgba(23,52,63,0.80);
    overflow: hidden;
    z-index: 3;     
}

.logo{
    float:left;   
}

img.logo{
    padding-top:29px;
    padding-bottom:29px;
    padding-left:90px;
}

p.logo{
    font-size:16px;
    text-transform:uppercase;
    color:white;
    padding-top:34px;
    padding-left:24px;
}

@media (max-width: 991px) {
  img.logo{
    padding-top:29px;
    padding-bottom:29px;
    padding-left:40px;
}  
}