html, .bg{
    background: #f8f8f3;
}

a{
    text-decoration:none;
    color:white;
}

a.border:hover{
    border-color:#36ab70;
    transition: .2xs ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}

div.row{
    overflow-x:hidden; 
}

a:hover{
    color:#36ab70;
    text-decoration:none;
    transition: .2xs ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}

.container{
    padding:0;
    margin:0;
    width:100%;
}

.container #header{
    width:auto;
    height:600px;
    background: url(../images/header.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container #whowhat{
    width:auto;
    height:590px;
    background: url(../images/whowhat.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overlay{
    background: rgba(23,52,63,0.75);
    overflow: hidden;
    height: 100%;
    z-index: 2;   
}


.navoverlay{
    background: rgba(23,52,63,0.80);
    overflow: hidden;
    z-index: 3;     
}

.logo{
    float:left;   
}

div.height{
    height:120px;
}

img.logo{
    padding-top:29px;
    padding-bottom:29px;
    padding-left:90px;
}

p.logo{
    font-size:16px;
    text-transform:uppercase;
    color:white;
    padding-top:34px;
    padding-left:24px;
    font-family: 'Varela Round', sans-serif;
}

p.nav{
    font-size:16px;
    text-transform:uppercase;
    color:white;
    width:186px;
    font-family: 'Varela Round', sans-serif;
    margin-top:49px;
}

.special{
    margin-left:40%   
}

a.border{
    padding:17px 17px 17px 17px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;  
    border-color:white;
    border: solid 1px;
}

p.txt{
    font-family: 'Varela Round', sans-serif;
    color:white;
    margin-left:95px;
}

p.txtinvert{
    font-family: 'Varela Round', sans-serif;
    color:#282828;
    font-size:18px;
}

p.headline{
    font-size:46px;
    margin-left:95px;
    margin-top:150px;
    text-transform:uppercase;
    margin-bottom:0px;
}

p.headline-2{
    font-size:46px;
    margin-left:95px;
    margin-top:110px;
    text-transform:uppercase;
    margin-bottom:0px;
}

p.whowhat{
    font-size:18px;
    max-width:580px;
}


p.tagline{
    font-size:22px;
    font-weight:300;
    margin: 0 0 40px 95px;
}

a.button{
    font-size:16px;
    text-transform:uppercase;
    background:#36ab70;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;  
    margin: 0px 40px 0px 95px;
    padding: 16px 28px 16px 28px;
    width:163px;
}

a.button:hover{
    background:#b1bfc4; 
    color:white;
    transition: .2xs ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    cursor:pointer;
}

p.quote{
    font-size:14px;
    margin-top:60px;
}

.italic{
    font-style:italic;
}

table{
    width:60%;
    max-width:500px;
    margin:auto;
    font-family: 'Varela Round', sans-serif;
    font-size:18px;
    float:right;
}

table.tableinvert{
    float:left;   
}


div.margintop{
    margin-top:10px;   
}

p.tabletitle{
    text-align:left;   
}

img.checkmark{
    padding: 4px 10px 4px 10px;   
}

p.mrgn{
    margin-left:95px;
    max-width:620px;
    margin:auto;
    margin-top:20px;
    line-height:32px;
    margin-bottom:30px;
}

img.quote{
    margin-left:-70px;
    margin-right:33px;
}

@media (max-width: 991px) {
    p.logo{
        font-size:14px;   
    }
    img.logo{
        padding-top:20px;
        padding-bottom:0px;
        padding-left:40px;
    }

    p.headline{
        font-size:30px;
        font-family: 'Varela Round', sans-serif;
        color:white;
        margin-left:40px;
        margin-top:60px;
        text-transform:uppercase;
    }

    p.txt{
        margin-left:40px;
    }

    p.tagline{
        font-size:16px;
        margin-right:40px;
    }

    p.nav{
        padding-left:40px;
        padding-top:0px;
        padding-bottom:10px;
        margin-top:20px;
        font-size:14px; 
    }
    .special{
        margin-left:0%   
    }
    a.border{
        border:none;
        padding:0 0 0 0;
        
    }
    div.height{
        height:100px;
    }

    a.button{
        margin-left:40px;
    }

    table{
        float:left;
        margin-left:40px;
        width:70%
    }

    p.mrgn{
        float:left;
        margin-left:40px;
        margin-right:40px;
    }

    img.quote{
        margin-left:0px;
        margin-right:12px;
    }

    p.headline-2{
        font-size:30px;
        margin-left:40px;
        margin-top:45px;
    }

    p.whowhat{
        font-size:16px;
        margin-right:40px;
    }
}