@import 'bootstrap';
@import 'font-awesome';

*{
    outline: none !important;
    font-family: 'Varela Round', 'Helvetica', sans-serif;
}

html, .bg{
    background: #f8f8f3;
}

a{
    text-decoration:none;
    color:white;

    &:hover, &:focus{
        color:#36ab70;
        text-decoration:none;
        transition: .2xs ease-in-out;
        -moz-transition: .2s ease-in-out;
        -webkit-transition: .2s ease-in-out;
    }
}

.green{
    color: #36ab70;
}

h2{
    font-size:46px;
    text-transform:uppercase;
    margin-bottom: 20px;
    color: #fff;
}

h3{
    margin-top: 30px;
    margin-bottom: 20px;
}

a.border:hover{
    border-color:#36ab70;
    transition: .2xs ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}

#header{
    height:600px;
    background: url(../images/header.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#whowhat{
    height:590px;
    background: url(../images/whowhat.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    h2{
        margin-top: 130px;
    }

    p{
        margin: 40px 0px;
    }

    .button{
        margin-top: 40px;
    }
}

#footer{
    background: url(../images/footer.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    // padding-bottom: 80px;
}

#features{
    i{
        padding: 0px 25px;
    }
}

.fa-quote-left{
    padding-right: 10px;
}

.overlay{
    background: rgba(23,52,63,0.75);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}


.navoverlay{
    background: rgba(23,52,63,0.80);
    overflow: hidden;
    z-index: 3;
}

.footeroverlay{
    background: rgba(23,52,63,0.90);
    overflow: hidden;
    z-index: 3;
    height:80px;
    line-height: 80px;
}

.logo{
    float:left;
}

div.height{
    height:120px;
}

img.logo{
    padding-top:29px;
    padding-bottom:29px;
}

p.logo{
    font-size:16px;
    text-transform:uppercase;
    color:white;
    padding-top:49px;
    padding-left:24px;
}

p.nav{
    font-size:16px;
    text-transform:uppercase;
    color:white;
    margin-top:49px;
}

.special{
    margin-left:40%
}

a.border{
    padding:17px 17px 17px 17px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color:white;
    border: solid 1px;
}

p.txt, form input{
    color:white;
}

p.txtinvert{
    color:#183440;
    font-size:18px;
}

p.headline{
    font-size:46px;
    text-transform:uppercase;
    margin-bottom:0px;
}

p.margin-1{
    margin-top: 110px;
}

p.margin-2{
    margin-top: 120px;
}

p.margin-3{
    margin-top: 60px;
}

p.whowhat{
    font-size: 18px;
}

p.tagline{
    font-size:22px;
    font-weight:300;
    margin-bottom: 40px;
}

.button{
    font-size:16px;
    border: 0px;
    text-transform:uppercase;
    background:#36ab70;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 16px 28px 16px 28px;
    width:163px;


    &:hover, &:focus{
        background:#b1bfc4;
        color: #fff;
        transition: .2xs ease-in-out;
        -moz-transition: .2s ease-in-out;
        -webkit-transition: .2s ease-in-out;
        cursor:pointer;
    }
}


p.quote{
    font-size:14px;
    margin-top:60px;
}

.italic{
    font-style:italic;
}

table{
    font-size:18px;
    float:right;
}

table.tableinvert{
    float:left;
}


div.margintop{
    margin-top: 25px;
}

p.tabletitle{
    text-align:left;
}

p.mrgn{
    margin-left:95px;
    margin:auto;
    margin-top:20px;
    line-height:32px;
    margin-bottom:30px;
}

p.mrgn-2{
    margin-top:20px;
    line-height:32px;
    margin-bottom:30px;
}

img.quote{
    margin-right:33px;
}

p.center{
    font-size:18px;
    text-align:center;
    margin-top:24px;
}

img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:170px;
}

img.right{
    float:right;
    margin-right:40px;
}

img.left{
    margin-left:40px;
}

p.right{
    float:right;
}

p.cntr{
    margin: 20px auto;
}

p.left{
    margin-left:40px;
}

form input{
    background:transparent;
    padding:12px 12px 12px 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color:white;
    border: solid 1px;
    font-size:14px;
    text-transform:uppercase;
    width:100%;
    margin-bottom:8px;
}

form input:focus, form textarea:focus{
    border-color:#36ab70;
    transition: .2xs ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}

form textarea{
    background:transparent;
    padding:12px 12px 12px 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color:white;
    font-size:14px;
    text-transform:uppercase;
    width:100%;
    margin-bottom:8px;
    height:100px;
    color:white;
    resize: vertical;
}

form #name{
    margin-top:62px;
}

p.contact{
    font-size:18px;
    margin-top: 62px;
    padding-left:20px;
}

a.footer{
    text-transform:uppercase;
    font-size:15px;
}

p.cntr-2{
    text-align:center;
    font-family: 'Varela Round', sans-serif;
    color:white;
}

p.lft{
    margin-left:95px;
    text-align:left;
    font-family: 'Varela Round', sans-serif;
    color:white;
}

p.rght{
    margin-right:95px;
    text-align:right;
    font-family: 'Varela Round', sans-serif;
    color:white;
}

.message{
    color: #fff;
    margin-left: 10px;
}

.hide{
    display: none;
}

@media (max-width: 991px) {
    p.logo{
        font-size:14px;
    }

    img.logo{
        padding-top:20px;
        padding-bottom:0px;
        padding-left:20px;
    }

    p.headline{
        font-size:30px;
        font-family: 'Varela Round', sans-serif;
        color:white;
        margin-left:20px;
        margin-top:44px;
        text-transform:uppercase;
    }

    p.txt, form input{
        margin-left:20px;
    }

    p.tagline{
        font-size:16px;
        margin-right: 20px;
    }

    p.nav{
        padding-left:20px;
        padding-top:0px;
        padding-bottom:10px;
        margin-top:20px;
        font-size:14px;
    }
    .special{
        margin-left:0%
    }
    a.border{
        border:none;
        padding:0 0 0 0;

    }
    div.height{
        height:100px;
    }

    table{
        float:left;
        margin-left:20px;
        width:70%
    }

    a.button{
        margin-left: 20px;
    }

    p.mrgn{
        float:left;
        margin-left:20px;
        margin-right: 20px;
    }

    img.quote{
        margin-left:0px;
        margin-right:12px;
    }

    p.headline-2{
        font-size:30px;
        margin-left:20px;
        margin-top:45px;
    }

    p.whowhat{
        font-size:16px;
        margin-left:20px;
        margin-right: 20px;
    }

    #whowhat{
        h2{
            margin-top: 30px;
            padding-left: 20px;
        }

        p{
            padding: 0px 20px;
            margin: 30px 0px;
        }

        .button{
            margin-left: 0px;
        }
    }

    img.right, img.center, img.left{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height:170px;
        float:none;
        margin-bottom:20px;
    }

    p.mrgn-2{
        margin-top:20px;
        line-height:32px;
        margin-bottom:20px;
    }

    p.right{
        float:none;
        margin-left:20px;
        margin-right: 20px;
        max-width:100%
    }

    p.cntr{
        margin-left:20px;
        margin-right: 20px;
        max-width:100%
    }

    p.left{
        margin-left:20px;
        margin-right: 20px;
        max-width:100%
    }

    p.margin-3{
        margin-top:26px;
    }

    form input{
        padding:8px 8px 8px 8px;
        font-size:14px;
        margin-right: 20px;
        width: auto;
    }

    form #name{
        margin-top:20px;
    }

    form textarea{
        background:transparent;
        padding:8px 8px 8px 8px;
        width: auto;
        margin-bottom:8px;
        height: 38px;
        margin: 0 20px 0 20px;
    }

    input.button{
        font-size:14px;
        margin: 10px 20px 0px 20px;
        padding: 8px 14px 8px 14px;
    }

    p.contact{
        font-size:16px;
        margin-top: 20px;
        padding-left:0px;
    }

    .footeroverlay{
        height: 160px;
        padding-top: 20px;
        line-height:  20px;
    }
    p.cntr-2{
        text-align:left;
        margin-left:20px;
    }

    p.lft{
        margin-left:20px;
        text-align:left;
    }

    p.rght{
        margin-left:20px;
        text-align:left;
    }
}